// ---------------------------HEADER STYLE
.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  height: 112px;
  width: 100%;
  z-index: 11;
  background-color: var(--header-color);

  & .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__group-btn {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-shrink: 0;
  }
  & .btn {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.main {
  padding-top: 112px;
}

// ------------- HERO STYLE
.hero {
  &__heading {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      flex-direction: initial;
    }
  }
  &__title-wrapper {
    @media screen and (min-width: 768px) {
      flex: 1;
    }
    @media screen and (min-width: 1280px) {
      flex: 2;
    }
  }
  &__title {
    width: 320px;
    font-size: 36px;
    line-height: 1;

    animation: slide-left var(--transition-duration)
      calc(var(--transition-delay) * 2) var(--transition-easing);

    @media screen and (min-width: 768px) {
      width: 300px;
      font-size: 48px;
    }
    @media screen and (min-width: 1280px) {
      width: 485px;
      font-size: 64px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    & p {
      letter-spacing: -0.64px;
    }
    @media screen and (min-width: 768px) {
      justify-content: space-between;
      flex: 1;
    }
    @media screen and (min-width: 1280px) {
      align-items: start;
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding-top: 24px;
    padding-bottom: 36px;
    border-top: 1px solid var(--primary-color);
    letter-spacing: -0.64px;
    &-left {
      & p:last-child {
        display: none;
      }
    }
    @media screen and (min-width: 768px) {
      flex-direction: initial;
      gap: 24px;
      text-align: initial;
      &-left {
        display: flex;
        justify-content: space-between;
        flex: 1;
        & p:last-child {
          display: inline-flex;
        }
      }
      &-right {
        flex: 1;
      }
    }
  }
  &__img {
    width: 100%;
  }
}

// --------------ABOUT STYLE
.about {
  &__heading {
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 24px;
    }
    @media screen and (min-width: 1280px) {
      grid-template-columns: max-content max-content;
      justify-content: space-between;
    }
  }
  &__title {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      font-size: 36px;
      width: 200px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 48px;
      max-width: 365px;
      width: auto;
    }
  }
  &__paragraph {
    letter-spacing: -0.64px;
    @media screen and (min-width: 1280px) {
      max-width: 400px;
    }
  }
}

//-----------FEATURE STYLE
.feature {
  &__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    line-height: 1;
    width: 286px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      width: 368px;
      font-size: 36px;
    }
    @media screen and (min-width: 1280px) {
      width: 495px;
      font-size: 48px;
    }
  }
  &__line {
    width: 1px;
    height: 48px;
    margin: 24px auto;
    background-color: var(--primary-color);
    @media screen and (min-width: 768px) {
      height: 87px;
    }
    @media screen and (min-width: 768px) {
      margin: 16px auto;
    }
  }
}

//--------------SLIDER SECTION

.slider-section {
  &__heading {
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 24px;
    }
  }
  &__title {
    font-size: 28px;
    line-height: 1;
    width: 265px;
    @media screen and (min-width: 768px) {
      flex: 1;
      font-size: 36px;
    }
    @media screen and (min-width: 1280px) {
      width: 400px;
      font-size: 48px;
    }
    &-wrapper {
      @media screen and (min-width: 768px) {
        flex: 1;
      }
    }
  }
}

//------------------CONTACT US STYLE
.section-contact {
  padding-bottom: 36px;
  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 120px;
  }
  &__title {
    font-size: 28px;
    line-height: 1;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 36px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 48px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media screen and (min-width: 768px) {
      flex-direction: initial;
    }
  }
  &__contact-info,
  &__form {
    @media screen and (min-width: 768px) {
      flex: 1;
    }
  }
}

//------------ FAQ STYLE

.faq {
  &__title {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      font-size: 36px;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1280px) {
      font-size: 48px;
      width: 400px;
      margin: 0 auto;
    }
  }
  &__heading-wrapper {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
    }
    & .faq__contact-us {
      display: none;
      @media screen and (min-width: 768px) {
        display: flex;
      }
    }
  }
  &__contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 36px;
    @media screen and (min-width: 768px) {
      margin-top: 0;
      display: none;
    }
    & p {
      font-size: 18px;
      letter-spacing: -0.72px;
      @media screen and (min-width: 1280px) {
        font-size: 24px;
        letter-spacing: -0.96px;
      }
    }
  }
  & .container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
      gap: 24px;
    }
    @media screen and (min-width: 768px) {
      gap: 48px;
    }
  }
}
//---------------------------FOOTER STYLE
.footer {
  &__content {
    --padding: 24px;
    position: relative;
    border-top: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: var(--padding);
    padding-bottom: var(--padding);

    @media screen and (min-width: 768px) {
      --padding: 40px;
      flex-direction: initial;
      align-items: baseline;
      gap: 24px;
    }
  }
  &__right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-top {
      display: none;

      @media screen and (min-width: 768px) {
        display: flex;
      }
    }
    &-bottom {
      text-align: center;
      letter-spacing: -0.64px;
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        text-align: initial;
        margin-top: 25px;
      }
    }
    @media screen and (min-width: 768px) {
      align-items: initial;
      flex-grow: 1;
    }
  }
  &__left-content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    & .social-list {
      justify-content: center;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    @media screen and (min-width: 768px) {
      flex-grow: 1;
      gap: 25px;
    }
  }
  &__address {
    letter-spacing: -0.64px;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: initial;
    }
  }
  &__copyright {
    margin-top: 16px;
    @media screen and (min-width: 768px) {
      margin-top: initial;
    }
  }
  &__up-btn {
    position: absolute;
    top: calc(var(--padding) + 8px);
    right: 0;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: none;
    transition: all var(--transition-duration) var(--transition-easing);
    & svg {
      transform: rotate(-90deg);
    }
    &:hover {
      background-color: var(--primary-dark-color);
      & path {
        stroke: var(--primary-color);
      }
    }
  }
}
