//------------------CONTACT US STYLE
.section-contact {
  padding-bottom: 36px;
  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 120px;
  }
  &__title {
    font-size: 28px;
    line-height: 1;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 36px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 48px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media screen and (min-width: 768px) {
      flex-direction: initial;
    }
    @media screen and (min-width: 1280px) {
      gap: 48px;
    }
  }
  &__contact-info {
    @media screen and (min-width: 768px) {
      flex: 1;
    }
  }
  &__form {
    display: flex;
    min-height: 440px;
    padding: 36px 12px;
    @media screen and (min-width: 768px) {
      flex: 1;
      min-height: 560px;
      padding: 36px 24px;
    }
    @media screen and (min-width: 1280px) {
      min-height: 624px;
      padding: 48px;
    }
  }
}
