//-----------FEATURE STYLE
.feature {
  &__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    line-height: 1;
    width: 286px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      width: 368px;
      font-size: 36px;
    }
    @media screen and (min-width: 1280px) {
      width: 495px;
      font-size: 48px;
    }
  }
  &__line {
    width: 1px;
    height: 48px;
    margin: 24px auto;
    background-color: var(--primary-color);
    @media screen and (min-width: 768px) {
      height: 87px;
    }
    @media screen and (min-width: 768px) {
      margin: 16px auto;
    }
  }
}
