// ---------------------------HEADER STYLE
.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 100%;
  z-index: 11;
  background-color: var(--header-color);

  & .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__group-btn {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-shrink: 0;
  }
  & .btn {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.main {
  padding-top: 112px;
}
