.header {
  &__link {
    display: flex;
    align-self: flex-start;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    transform: scale(1);
    &:hover,
    &:focus {
      & .header__logo {
        & .text-logo {
          fill: var(--primary-color);
        }
      }
    }
  }
  &__logo {
    & .text-logo {
      transition: all var(--transition-duration) var(--transition-easing);
    }
  }
}
