.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 24px;
  letter-spacing: -0.96px;
  height: calc(100vh - 72px);
  min-width: 272px;
  border-radius: 25px;
  background: var(--primary-transparent-75-color);
  backdrop-filter: blur(12.5px);
  color: var(--gray-color-25);
  padding: 24px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 11px;
    }
    &:first-child {
      border-bottom: 1px solid #fff;
      padding-bottom: 8px;
      margin-bottom: 24px;
      font-size: 20px;
      letter-spacing: -0.8px;
      display: flex;
      & a {
        display: flex;
        align-items: center;
        gap: 4px;
        flex-direction: row-reverse;
      }
    }
  }
  & .social-list {
    &__link {
      & svg * {
        fill: var(--gray-color-25);
      }
    }
  }
  &__close-link {
    color: #fff;
    transition: color var(--transition-duration) var(--transition-easing);
    &:hover,
    &:focus {
      color: var(--primary-color);
      & .close-button {
        &::before,
        &::after {
          background-color: var(--primary-color);
        }
      }
    }
  }
  & .close-button {
    &::before,
    &::after {
      background-color: #fff;
    }
  }
}
